{% load static %}
<header class="header_section secondary_header sticky text-white clearfix">
  <div class="header_top clearfix">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <ul class="header_contact_info ul_li clearfix">
            <li><i class="fal fa-envelope"></i> test@email.com</li>
            <li><i class="fal fa-phone"></i> +0-000-000-0000</li>
          </ul>
        </div>

        <div class="col-lg-5">
          <ul class="primary_social_links ul_li_right clearfix">
            <li>
              <a href="#!"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header_bottom clearfix">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="brand_logo">
            <!--index.html-->
            <a href="#">
              <img
                src="{% static 'assets/images/backgrounds/logo1.jpg' %}" style="height:60px;width:60px;border-radius:20px;"
                srcset="{% static 'assets/images/backgrounds/logo1.jpg' %}"style="height:25;width:25;border-radius:20px;"
                alt="logo_not_found"
              />
              <img
                src="{% static 'assets/images/backgrounds/logo1.jpg' %}" style="height:60px;width:60px;border-radius:20px;"
                srcset="{% static 'assets/images/backgrounds/logo1.jpg' %}"style="height:25;width:25;border-radius:20px;"
                alt="logo_not_found"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-6 order-last">
          <ul class="header_action_btns ul_li_right clearfix">
            <li>
              <button
                type="button"
                class="search_btn"
                data-toggle="collapse"
                data-target="#collapse_search_body"
                aria-expanded="false"
                aria-controls="collapse_search_body"
              >
                <i class="fal fa-search"></i>
              </button>
            </li>
            <li class="dropdown">
              <button
                type="button"
                class="cart_btn"
                id="cart_dropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                
               
              </button>
             
            </li>
            <li class="dropdown">
              <button
                type="button"
                class="user_btn"
                id="user_dropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fal fa-user"></i>
              </button>
              <div
                class="user_dropdown rotors_dropdown dropdown-menu clearfix"
                aria-labelledby="user_dropdown"
              >
               
                <ul class="ul_li_block clearfix">
                  
                  <li>
                    <a href="{% url 'register' %}"><i class="fal fa-user-cog"></i> Inscription</a>
                  </li>
                  <li>
                    <a href="{% url 'login_1' %}"><i class="fal fa-sign-out"></i> Connexion</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <button type="button" class="mobile_sidebar_btn">
                <i class="fal fa-align-right"></i>
              </button>
            </li>
          </ul>
        </div>

        <div class="col-lg-6 col-md-12">
          <nav class="main_menu clearfix">
            <ul class="ul_li_center clearfix">
              <li>
                <!--index_2.html-->
                <a href="{% url 'home' %}">Accueil</a>
              </li>
              <!--gallery.html-->
              <li><a href="{% url 'voiture' %}">Nos Voitures</a></li>
              <!--about.html-->
              <li><a href=" {% url 'about' %}">A propos</a></li>
              <!--contact.html-->
              <li><a href="{% url 'contact' %}">Contactez-nous</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div id="collapse_search_body" class="collapse_search_body collapse">
    <div class="search_body">
      <div class="container">
        <form action="#">
          <div class="form_item">
            <input type="search" name="search" placeholder="Recherche..." />
            <button type="submit"><i class="fal fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
